#facebook, #instagram, #twitter{
	max-width: 2em;
}
.titulo{
	background-color: orange;
	text-align: center;
	
}
.titulo p{
	font-size: 40px;
	margin:15px;
	padding: 20px;
	font-family: "Ninja Naruto";
}
p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;

}
footer{
	text-align: center;
	background-color: #222;
	color: aliceblue;
	position: absolute;
	bottom: 0;
	left: 5px;
	right: 7px;
	width: auto;
}
.fundo{
	background-color: aliceblue;
}
#rodape{
	bottom: auto;
}
#bem-vindo{
	display: block;
    margin-left: auto;
    margin-right: auto 
    
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.menu{
	padding: 0px 22px 0px 9px;
	margin: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
header #inicio:hover{
	background-color: orange;
}
header #estoque:hover{
	background-color: cyan;
}
header #produto:hover{
	background-color: black;
	color: white;
}
header #funcionario:hover{
	background-color: #c00;
	color: white;
}
header #venda:hover{
	background-color: purple;
	color: aliceblue;
}
header #historico:hover{
	background-color: green;
	color: aliceblue;
}
a{text-decoration: none; color: black;}
.titulo-venda{
	text-align: center;
}
form{
	text-align: center;
}
ol{
	text-align: center;
}